<div>
  <label>What's your favorite colour:</label>
  <input type="text" ng-model="yourColor" placeholder="Enter a colour here">
  <hr>
  <h1>{{yourColor}} <i style="font-size:40%">TODO: show actual color, validate #rgb hex input</i></h1>
</div>
